.App {
  background-size: cover;
  background-image: url("./img/firstpage.png") ;
  width: 1920px;
  height: 1080px;
  background-position: fixed;
 
  /* background-position: center;
  background-repeat: no-repeat;  */

  /* height: 1080px;
  width: 1920px; */
}
  

