body {

  background-size: cover;
  background-image: url("./img/firstpage.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hrLine {
  position: relative;
  top: 70px;
}
.orgYourDay {
  color: grey;
  text-align: center;
  font-size: 50px;
  position: relative;
  top: 150px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-li {
	display: inline;
	/* border: 2px solid grey; */
	padding: 7px;
	border-radius: 8px;
	background: linear-gradient(
		360deg,
		rgb(218, 219, 223) 0%,
		rgb(167, 176, 180) 100%
	);
	font-size: large;
  margin: 3px;
  color: wheat
}

.menu-bar {
	position: absolute;
	right: 0px;
}


.signin,
.signup {
  border: 2px solid gray;
  padding: 5px;
  width: 200px;
}

.MuiButton-containedSecondary{
	background-color: #1f4270 !important;
}
.HomePage-avatar-3{
	background-color:  #1f4270 !important;
}
.Register-avatar-3{
	background-color:  #1f4270 !important;
}
.SignIn-avatar-3{
	background-color:  #1f4270 !important;
}

