html,
body {
  height: 100%;
}

body {
  /* background-size: cover; */
  background-color: #051429 !important;
  display: block;
  min-height: inherit;
  /* background-repeat: no-repeat;
	background-attachment: fixed; */
}

.center {
  max-width: 1000px;
  margin: 0 auto;
}

.menu-box {
  box-sizing: border-box;
  border-bottom: 2px solid #ffffff;
  display: flex;
  justify-content: space-between;
  height: 140px;
  padding: 20px 0;
}

.menu-box__left {
  display: flex;
  justify-content: space-between;
}

.menu-box__logo {
  display: block;
  margin-right: 40px;
}

.menu-box__logo-img {
  max-width: 104px;
}

.menu__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu__list_reg {
  list-style-type: none;
  display: flex;
}
.menu__item:not(:last-child) {
  margin-right: 20px;
}

.menu__link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}
.menu-box__right {
  display: flex;
  justify-content: space-between;
}

/* .orgYourDay {
  color: grey;
  text-align: center;
  font-size: 50px;
  position: relative;
  top: 150px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

/* .MuiButton-containedSecondary{
>>>>>>> hooks-form
	background-color: #1f4270 !important;
}
.HomePage-avatar-3{
	background-color:  #1f4270 !important;
}
.Register-avatar-3{
	background-color:  #1f4270 !important;
}
.SignIn-avatar-3{
	background-color:  #1f4270 !important;

} */
